#container {
    display: flex;
    flex-direction: column;
}

canvas {
    background-color: gray;
}

#container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#opacity-editor {
    width: 500px;
    height: 500px;
}

.row-oriented {
    display: flex;
    flex-direction: row;
}

.column-oriented {
    display: flex;
    flex-direction: column;
}