#container {
    display: flex;
    flex-direction: column;
}

canvas {
    background-color: gray;
}

#opacity-canvas {
    width: 500px;
    height: 300px;
}

#opacity-container {
    padding: 5px;
}

#colormap-canvas {
    width: 500px;
    height: 200px;
}

.row-oriented {
    display: flex;
    flex-direction: row;
}

.column-oriented {
    display: flex;
    flex-direction: column;
}